h1{
    color: #050505;
    text-align: center;
}
.tituloPrincipal{
    font-size: 40px;
    margin-top: 1em;
}
#icono{
    float: left;
    width: 3em;
}
a{
    color: #0d74ab;
    margin: 30px;
    background: #232323;
    border: #1c5fba;
}
a:hover{
    font-size: 2em;
}
article{
    margin: 30px;
    width: 30em;
}
body{
    background: #3c7733;
    font-size: 18px;
    font-family: Inter, cursive;
    color: #151515;
}
section{
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    width: 42em;
    background: #0a7542;
    box-shadow: 1px 1px 2px 2px #f1f6f6;
}
.resultados{
    width: 30em;
    float: right;
    border-right: 5em;
    text-align: center;
    padding-top: 10em;
}